body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


#container1{
    background-color:white;
    width: 465px;
    height: 145px;
    border: 6px dashed white;
    margin:0;
    border-top-color: red;
    border-left-color: purple;
    border-bottom-color: blue;
    border-right-color: green;
    border-radius: 15px;
}
#container2{
    background-color: rgb(255, 119, 53);
    width: 465px;
    height: 145px;
    margin:0;
} 

h1{
    margin: 0;
    color: green;
    background-color:skyblue;
}

P{
    margin: 0;
    color: yellow;
}

h1:hover{
    background-color: yellow;
    color:black;
    cursor: pointer;
}


